<div class="hero hero-home" >
                    <div>
                        <p>MAKING ROBOTS<br><span class="smaller">IT'S WHAT WE DO</span></p>
                        <a href="#about">LEARN MORE</a>
                    </div>
            </div>
            <div class="about grid" id="about">
                    <div class="grid-item--md-span-8">
                      <div class="lines">
                        <h1 class="lines-text">MAKING THE FUTURE</h1>
                      </div>
                        <p class="body-font"><%= Widget.find(6).content %></p>
                    </div>
                </div>
            <div class="widgets">
              <div class="grid">
                <div class="grid__item--sm-span-4">
                    <%= image_tag("award.png") %>
                    <div>
                        <h2>AWARD WINNING</h2>
                        <p><%= Widget.find(3).content %></p>
                    </div>
                </div>
                <div class="grid__item--sm-span-4">
                    <%= image_tag("award.png") %>
                    <div>
                        <h2>OUR MISSION</h2>
                        <p><%= Widget.find(4).content %></p>
                    </div>
                </div>
                <div class="grid__item--sm-span-4">
                    <%= image_tag("award.png") %>
                    <div>
                        <h2>IMPRESSIVE TITLE</h2>
                        <p><%= Widget.find(5).content %></p>
                    </div>
                </div>
              </div>
            </div>
            <div class="interactive">
              <div class="lines-dark">
                <h2 class="lines-text-dark">SUBGROUPS</h2>
              </div>
              <div class="icons grid">
                <div>
                  <!--<img src="tech.png" id="icon-1"/>-->
                  <%= image_tag('tech.png', id:"icon-1") %>
                </div>
                <div>
                  <!--<img src="pr.png" id="icon-2"/>-->
                  <%= image_tag('pr.png', id:"icon-2") %>
                </div>
                <div>
                  <!--<img src="programming.png" id="icon-3"/>-->
                  <%= image_tag('programming.png', id:"icon-3") %>
                </div>
                <div>
                  <!--<img src="electrical.png" id="icon-4"/>-->
                  <%= image_tag('electrical.png', id:"icon-4") %>
                </div>
              </div>
              <div class="text grid">
                <div class="grid-item--sm-span-8" onload="interactive()" id="interactiveWrapper">
                  <h3 id="interactiveGroup">Pick a group</h3>
                  <p id="interactiveBody">Click on one of the icons to view a subgroup's description.</p>
                  <div class="hidden">
                      <p id="head-1">TECH</p>
                      <p id="head-2">Public relations</p>
                      <p id="head-3">Programming</p>
                      <p id="head-4">Electrical</p>
                      <p id="body-3">The programming section of our team is tasked with writing the code that the robot needs to function and perform all the tasks we need it to.  They also maintain the software and other necessities for the robot to perform properly.</p>
                      <p id="body-2">The PR, or personal relations, group works with everything that is not directly related to the robot. This is a very important job that involves making fund raisers, working with sponsors and organizing presentations or events.
</p>
                      <p id="body-4">The electrical team is in charge of wiring the robots and making sure all the electronic systems of the robot are working and in proper condition. They work closely to tech and programming, serving as the bridge between the physical frame of the robot and the functionality of the code.
</p>
                      <p id="body-1">The tech team works on building the actual robot. Members of tech will use their hands and various power tools that we have in our shop in order to create and manipulate parts for the robot. They have to problem solve quickly so that they can change the design of the robot as soon as a problem is spotted.
</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="game">
                <h2><span class="hbr-1747">1747</span>: THIS YEAR'S GAME</h2>
                <p><%= Widget.find(1).content %></p>
            </div>
            <!-- <div class="game light-background">
                <h2><span class="hbr-1747">10133</span>: THIS YEAR'S GAME</h2>
                <p><%= Widget.find(2).content %></p>
            </div> -->
            <div class="sponsors">
              <h2>SPONSORS</h2>
              <div class="sponsor-slider">
                <div id="sponsor-images">
                  <% @sponsors = Dir.glob("**/sponsor_images/*") %>
                  <% @sponsors.each do |sponsor| %>
                    <%= image_tag("/#{sponsor[7..-1]}") %>
                  <% end %>
                </div>
              </div>
            </div>
