<div class="hero">
        <div>
            <p>OUTREACH</p>
            <%= image_tag("outreach.png") %>
        </div>
</div>
<div class="press grid">
  <div class="lines">
    <h1 class="lines-text">OUTREACH EVENTS</h1>
  </div>
  <% @posts.each do |p| %>
  <%= link_to "/post/#{p.title}", :class => 'post-thumbnail', :style => "width: 100%" do %>
  <div class="grid-item--sm-md-span-8 wip" style="width: 100%">
          <div class="post-image-wrapper">
            <%= image_tag("/post_images/#{p.id}/post.png", :onerror => "this.src='/post_images/default/post.png'") %>
          </div>
            <div>
              <h3><%= p.title %></h3>
              <p>
                <%= p.content %>
              </p>
            </div>
      </div>
      <% end %>
      <% end %>
</div>
