<div class="hero">
        <div>
            <p>PANDA PRESS</p>
            <!-- <img src="pictures/press.png" /> -->
            <%= image_tag('press.png') %>
        </div>
</div>
<div class="press grid">
  <div class="lines">
    <h1 class="lines-text">PRESS ARTICLES</h1>
  </div>
  <% @posts.each do |p| %>
  <%= link_to "/post/#{p.title}", :class => 'post-thumbnail', :style => "width: 100%" do %>
  <div class="grid-item--sm-md-span-8 wip" style="width: 100%">
          <% if p.image %>
          <%= image_tag("/post_images/#{p.id}/post.png")%>
          <% else %>
          <%= image_tag("/post_images/default/post.png")%>
          <% end %>
            <div>
              <h3><%= p.title %></h3>
              <p>
                <%= p.content %>
              </p>
            </div>
      </div>
      <% end %>
      <% end %>


    <div class="grid-item--sm-md-span-8 wip">
            <%= image_tag("/post_images/1/post.png") %>
              <div>
                <h3>2014 Internet Conference</h3>
                <p>
                  We went to the Internet 2 conference in October and demonstrated our robot. We talked about how FIRST affected all of us. During our demonstration we let the adults drive the robots. We also explained FIRST to people who didn't know what it was. Their were a few other teams there at the conference with us, and they also demonstrated their robots as well. All together, we were there for about five hours. It was a great experience being there and being able to spread the word of FIRST to all of the people who showed up.
                </p>
              </div>
        </div>
    <div class="grid-item--sm-md-span-8 wip">
            <img src="pictures/blogpicture.jpg" />
              <div>
                <h3>2014 Internet Conference</h3>
                <p>
                  We went to the Internet 2 conference in October and demonstrated our robot. We talked about how FIRST affected all of us. During our demonstration we let the adults drive the robots. We also explained FIRST to people who didn't know what it was. Their were a few other teams there at the conference with us, and they also demonstrated their robots as well. All together, we were there for about five hours. It was a great experience being there and being able to spread the word of FIRST to all of the people who showed up.
                </p>
              </div>
        </div>
    <div class="grid-item--sm-md-span-8 wip">
            <img src="pictures/blogpicture.jpg" />
              <div>
                <h3>2014 Internet Conference</h3>
                <p>
                  We went to the Internet 2 conference in October and demonstrated our robot. We talked about how FIRST affected all of us. During our demonstration we let the adults drive the robots. We also explained FIRST to people who didn't know what it was. Their were a few other teams there at the conference with us, and they also demonstrated their robots as well. All together, we were there for about five hours. It was a great experience being there and being able to spread the word of FIRST to all of the people who showed up.
                </p>
              </div>
        </div>
    <div class="grid-item--sm-md-span-8 wip">
            <img src="pictures/blogpicture.jpg" />
              <div>
                <h3>2014 Internet Conference</h3>
                <p class="body-font">
                  We went to the Internet 2 conference in October and demonstrated our robot. We talked about how FIRST affected all of us. During our demonstration we let the adults drive the robots. We also explained FIRST to people who didn't know what it was. Their were a few other teams there at the conference with us, and they also demonstrated their robots as well. All together, we were there for about five hours. It was a great experience being there and being able to spread the word of FIRST to all of the people who showed up.
                </p>
              </div>
        </div>
</div>
