<div class="header-background"></div>
<div class="post grid">
  <div class="grid__item--sm-span-8 post-img">
    <%= image_tag("/post_images/#{@post.id}/post.png", :onerror => "this.src='/post_images/default/post.png'") %>
    <!-- <%= image_tag("/post_images/default/post.png", :id => 'default-img')%> -->
    <h2><%= @post.title %></h2>
  </div>
  <div class="grid__item--sm-span-6 post-text">
    <p class="body-font">
      <%= @post.content %>
      <br />
      <% if @post.youtube_url %>
      <iframe width="560" height="315" src="<%= @post.youtube_url %>" frameborder="0" allowfullscreen></iframe>
      <% end %>
    </p>
  </div>
  <div class="grid__item--sm-span-2 recent-posts">
    <div class="lines">
      <h2 class="lines-text">Recent Posts</h2>
    </div>
    <% @recent_posts.each do |post| %>
    <%= link_to "/post/#{post.title}" do %>
    <div>
      <%= image_tag("/post_images/#{post.id}/post.png", :onerror => "this.src='/post_images/default/post.png'") %>
      <h3><%= post.title %></h3>
    </div>
    <% end %>
    <% end %>
  </div>
</div>
