<header class="admin-header">
  <div class="admin">
    <p class="name"><%= current_user.name %></p>
    <p class="role"><%= current_user.role %></p>
  </div>
  <nav>
    <div><%= link_to 'Dashboard', :controller => :admin, :action => :home %>
</div>
    <div><%= link_to 'Outreach', :controller => :admin, :action => :manage_outreach %>
</div>
    <div><%= link_to 'Press', :controller => :admin, :action => :manage_press %>
</div>
    <div><%= link_to 'Widgets', :controller => :admin, :action => :manage_members %>
</div>
    <div><%= link_to 'Members', :controller => :admin, :action => :manage_widgets %>
</div>
    <div><%= link_to 'Users', :controller => :admin, :action => :manage_users %>
</div>
  </nav>
</header>
