<footer>
  <div>
    <div>
      <h3>NAVIGATION</h3>
      <%= link_to 'Home', root_path %>
      <%= link_to 'First', first_path %>
      <%= link_to 'Press', press_path %>
      <%= link_to 'Outreach', outreach_path %>
    </div>
    <div>
      <h3>RESOURCES</h3>
      <%= link_to 'Calendar', calendar_path %>
      <%= link_to 'Awards', awards_path %>
      <%= link_to 'Team Links', links_path %>
    </div>
    <p>
      &copy; HBRLive!  Designed and made by HBR Web Development.
    </p>
  </div>
</footer>
